<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:g="http://java.sun.com/jsp/jstl/fmt">
<h:head>
    <style type="text/css">
        .tableblock{
            color:red;
            columns:4;
            border:2px;
            bgcolor:lightskyblue;
            cellpadding:5px;
            cellspacing:10px;
        }
        body {
            /*background-color: darkseagreen;*/
        }
        h3 {
            color: darkblue;
            text-align: left;
        }
        p {
            font-family: "Arial";
            font-size: 20px;
        }
    </style>
</h:head>

<h:body>
    <title>CV - JSF -YAKOVENKO</title>
    <div style="background-color:lightskyblue; color:darkblue; margin:5px; padding:5px;width: 100%">
        <h:form>
            <h3>CURRICULUM VITAE : Yakovenko Kirill</h3>
            <h3>Position: Junior Java Developer </h3>
        </h:form>
    </div>

    <h:form id="form">
        <p:growl id="msgs1" showDetail="true" />
        <p:layout style="min-width:400px;min-height:400px;">
            <p:layoutUnit position="west" resizable="true" size="500" minSize="40" maxSize="600">
                <p:panelGrid columns="2">
                    <f:facet name="header">
                        <p:graphicImage library="images" name="Me.jpg" />
                    </f:facet>
                    <h:outputText value="Name:" />
                    <h:outputText value="Yakovenko Kirill" />
                    <h:outputText value="Date of birth:" />
                    <h:outputText value="13 March, 1981" />
                    <h:outputText value="Present address:" />
                    <h:outputText value="40A, 16 Ostrovskogo St., Kiev, Ukraine" />
                    <h:outputText value="Phone Number:" />
                    <h:outputText value="+380-63-315-41-51" />
                    <h:outputText value="E-mail:" />
                    <h:outputText value="Pm_yakov@ukr.net" />
                    <h:outputText value="Marital status:" />
                    <h:outputText value="Single" />
                </p:panelGrid>
            </p:layoutUnit>
            <p:layoutUnit position="center">
                <p:accordionPanel>
                    <p:tab title="Technologies">
                        <!--><-->
                        <h:panelGrid columns="4" border="2" cellpadding="5" cellspacing="10" bgcolor="lightskyblue">
                            <h:outputText value="Core Java, Java SE, Object Oriented Programming" />
                            <h:outputText value="DBMS:  SQL,JDBC,MYSQL" />
                            <h:outputText value="IDE:   Eclipse,Intellij Idea" />
                            <h:outputText value="WEB:  HTML, XHTML,JSF (PrimeFaces)" />
                            <h:outputText value="WebServices, XML" />
                            <h:outputText value="Maven, Glassfish" />
                            <h:outputText value="JIRA, Tortoise SVN, Git" />
                            <h:outputText value="English: Upper-Intermediate" />
                        </h:panelGrid>
                    </p:tab>
                    <p:tab title="Skills and Projects">
                        <h:panelGrid columns="4" border="2" cellpadding="5" cellspacing="10" bgcolor="lightskyblue">
                            <h:outputText value="Fast learner and responsible" />
                            <h:outputText value="Strong analytical and communications skills" />
                            <h:outputText value="5 Years of Banking Projects" />
                            <h:outputText value="Initiative person" />
                            <h:outputText value="Team player" />
                            <h:outputText value="Result-oriented working" />
                        </h:panelGrid>
                    </p:tab>
                    <p:tab title="Work Experience">
                        <h:panelGrid columns="2" border="2" cellpadding="5" cellspacing="10" bgcolor="lightskyblue">
                            <h:outputText value="2010-present" />
                            <h:outputText value="Bank,IT Project Manager" />
                            <h:outputText value="2009-2010" />
                            <h:outputText value="Bank,PMO,Analyst,PM" />
                            <h:outputText value="2006-2009" />
                            <h:outputText value="PM Consulting" />
                        </h:panelGrid>
                    </p:tab>
                    <p:tab title="Education">
                        <h:panelGrid columns="2" border="2" cellpadding="5" cellspacing="10" bgcolor="lightskyblue">
                            <h:outputText value="09-10.2014" />
                            <h:outputText value="Java Core, Contact" />
                            <h:outputText value="10-11.2014" />
                            <h:outputText value="Java Advanced,IT Labs" />
                        </h:panelGrid>
                    </p:tab>
                </p:accordionPanel>
            </p:layoutUnit>
        </p:layout>
        <p:growl id="msgs2" showDetail="true" />
    </h:form>
</h:body>
</html>